.Promotion .blog-section {
    margin-top: 0%;
    padding: 2%;
}

.Promotion .blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Promotion .blog-card {
    flex: 0 1 calc(50% - 1%); 
    border: 1px solid #ddd;
    border-radius: 8%;
    padding: 1.5%;
    background-color: #2c3e50;
    box-sizing: border-box;
}

.Promotion h3 {
    font-size: 140%;
    text-align: left;
    color: white;
    margin-top: 5%;
    line-height: 120%;
}

.Promotion p {
    font-size: 100%;
    text-align: left;
    color: white;
    margin-top: 5%;
    line-height: 120%;
}

.Promotion .blog-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 3%;
}

.Promotion .blog-date,
.Promotion .blog-author {
  font-size: 100%;
  color: white;
}

.Promotion a {
    display: block;         
    font-size: 100%;
    color: white;
    padding-top: 1%;
    margin-left: auto;      
    width: fit-content; 
}
