.TripPlanner h1 {
  font-family: 'Pacifico', cursive;
  font-size: 350%;
  text-align: center;
  color: #030303;
  margin-top: 2%;
}

.TripPlanner h2 {
  font-size: 200%;
  text-align: center;
  color: #555881;
  line-height: 120%;
  margin-top: -1%;
  font-weight: lighter;
}

.form-container {
  max-width: 50%;
  margin: auto;
  background: #e7effa;
  padding: 3%;
  border-radius: 4%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 2%;
  font-size: 140%;
}

.form-container input {
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 1.5%;
  margin-bottom: 4%;
  border: 1% solid #030303;
  border-radius: 8px;
  font-size: 120%;
}

.form-container button {
  font-size: 140%;
  background-color: #2c3e50;
  color: white;
  padding: 1.5%;
  width: 60%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  display: block;
  margin: 4% auto;
  margin-bottom: -1%;
}

.form-container button:hover {
  background-color: #496894;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 4%;
  margin-bottom: 4%;
}

.activity-option {
  font-size: 110%;
  padding: 1rem;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activity-option:hover {
  border-color: #2c3e50;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
}

.activity-option.selected {
  border-color: #2c3e50;
  background-color: #ebf4ff;
}

.companion-options {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 3%;
  flex-wrap: nowrap;
}

.companion-card {
  flex: 1;
  text-align: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: white;
  max-width: 200px;
}

.companion-card:hover {
  border-color: #2c3e50;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
}

.companion-card.selected {
  border-color: #2c3e50;
  background-color: #ebf4ff;
}

.companion-card img {
  height: 50px;
  margin-bottom: 0.5%;
}

.companion-card .label {
  font-weight: bold;
  text-transform: capitalize;
}

